[defaults]
profile = default

major = 7
minor = 0

[rpm_gpg_check]
## Some initial assumption about the keyring dir
keyring_dir = {defaults.res_dir}/keyrings/{defaults.profile}

[spec_file]
## These are for compatibility with exiting configuration files, which use
## variable names from other sections without section specification
module_author = {global.module_author}
module_author_email = {global.module_author_email}
module_vendor = {global.module_vendor}

module_install_subdir = extra/{rpm_name}

module_version_epoch =

module_description_content = {description}
	{module_description_suffix}
firmware_description_content = {firmware_description}
	{firmware_description_suffix}
devel_description_content = {devel_description}
	{devel_description_suffix}

description_suffix =
module_description_suffix = {description_suffix}
firmware_description_suffix = {description_suffix}
devel_description_suffix = {description_suffix}

## RPM file name expression. Can use any variable from this config file
## WARNING: don't change rpm_name if you are not sure what are you doing!
rpm_name = kmod-{global.module_vendor}-{module_name}

kernel_version_min =
kernel_version_dep =

## target kernel exclusive arch
kernel_arch = x86_64 ppc64 ppc64le

## module summary in spec file
summary = {module_name} module for Driver Update Program
## module description in spec file
description = {module_name} module for Driver Update Program

## firmware summary in spec file
firmware_summary = {module_name} firmware for Driver Update Program
## firmware description in spec file
firmware_description = {module_name} firmware for Driver Update Program

## development package summary in spec file
devel_summary = {module_name} development files for Driver Update Program
## development package description in spec file
devel_description = {module_name} development files for Driver Update Program

## Defaults for the case they are not defined in module.config
dependencies =
build_dependencies =
build_extra_cflags =
devel_package = 0

# It is used in spec template in order to specify list of make targets in %build
# and we pass no additional target to make by default.
make_targets =
