[spec_file]
module_description_content = {description}
	{module_description_suffix}
firmware_description_content = {firmware_description}
	{firmware_description_suffix}

description_suffix =
module_description_suffix = {description_suffix}
firmware_description_suffix = {description_suffix}

## rpm file name expression. Can use any variable from this config file
## WARNING: don't change rpm_name if you are not sure what are you doing!
rpm_name = kmod-{global.module_vendor}-{module_name}
## target kernel exclusive arch
kernel_arch = x86_64 ppc64 ppc64le

## module summary in spec file
summary = {module_name} module for Driver Update Program
## module description in spec file
description = {module_name} module for Driver Update Program

## firmware summary in spec file
firmware_summary = {module_name} firmware for Driver Update Program
## module description in spec file
firmware_description = {module_name} firmware for Driver Update Program
