## This is an example site config which allows overwriting defaults provided in
## /usr/share/ddiskit/ddiskit.config in accordance with machine-specific needs.
## Users can also create ~/.ddiskitrc which overrides values supplied in package
## and site config.  For the additional information, please refer to ddiskit(1).

##
## defaults section if for behaviour-determining options; some of them can be
## overridden with command-line arguments, and others are always overridden with
## them.
##
[defaults]
## Default profile to be used.
# profile = default
## File mode for the generated ISO file.
# isofile_mode = 0o0600

##
## global configuration values.
##
[global]
## Driver Update Disc vendor
# module_vendor = ENTER_VENDOR_NAME
## Driver Update Disc author. It makes more sense to override this value the
## user configuration, rather that site-wide one.
# module_author = ENTER_AUTHOR
## Driver Update Disc e-mail. It makes more sense to override this value the
## user configuration, rather that site-wide one.
# module_author_email = ENTER_AUTHOR_EMAIL
## Include SRPM files into the final ISO
# include_srpm = True

##
## configuration values for the driver spec file.
##
[spec_file]

##
## RPM descriptions.
##
## Current scheme assumes that there are two parts for the RPM descriptions -
## user-supplied {,firmware_,devel_}description, which is provided in
## module.config, and profile-provided suffix (currently, only rh-testing
## profile uses this feature and supplies description_suffix value). By default,
## {module,firmware, deve}_description_suffix all default to description_suffix.

# module_description_content = {description}
# 	{module_description_suffix}
# firmware_description_content = {firmware_description}
# 	{firmware_description_suffix}
# devel_description_content = {devel_description}
# 	{devel_description_suffix}

# description_suffix =
# module_description_suffix = {description_suffix}
# firmware_description_suffix = {description_suffix}
# devel_description_suffix = {description_suffix}


## RPM file name expression.
## WARNING: don't change rpm_name if you are not sure what are you doing!
# rpm_name = kmod-{global.module_vendor}-{module_name}
## target kernel exclusive arch
# kernel_arch = x86_64 ppc64 ppc64le

## module summary in spec file
# summary = {module_name} module for Driver Update Program
## module description in spec file
# description = {module_name} module for Driver Update Program

## firmware summary in spec file
# firmware_summary = {module_name} firmware for Driver Update Program
## firmware description in spec file
# firmware_description = {module_name} firmware for Driver Update Program

## development package summary in spec file
# devel_summary = {module_name} development files for Driver Update Program
## development package description in spec file
# devel_description = {module_name} development files for Driver Update Program

## Default install dependencies. Usually overwritten in module.config
# dependencies =
## Default build dependencies. Usually overwritten in module.config
# build_dependencies =
